<%= content_for :page_title, 'Home Page' %>
<%= content_for :page_description, 'Home Page' %>

<%= render 'layouts/navbar' %>

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-size-1">Index Page</h1>
          <h3 class="subtitle is-size-3">Index Page for <%= appname %></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">

        <p class="title is-size-3">Pages#index</p>
        <p class="subtitle is-size-5">Find me in app/views/pages/index.html.erb</p>
        <p>I'm just body text.</p>

      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
