<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="<%= root_path %>"><%= appname %></a>
    <button class="button navbar-burger is-borderless" data-target="navMenu"><span></span><span></span><span></span></button>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'About', about_path, class: "navbar-item" %>
      <% if user_signed_in? %><%= link_to 'Welcome', welcome_path, class: "navbar-item" %><% end %>
      <% if user_signed_in? && current_user.isadmin? %><%= link_to 'Admin', rails_admin_path, class: "navbar-item" %><% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to 'Edit Your Account', edit_user_registration_path, class: "navbar-item" %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "navbar-item" %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "navbar-item" %>
        <%= link_to 'Sign In', new_user_session_path, { :class => "navbar-item" } %>
      <% end %>
    </div>
  </div>
</nav>
