<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% if content_for?(:page_title) %><%= appname %> | <%= yield(:page_title) %><% else %><%= appname %><% end %></title>
    <%= csrf_meta_tags %>
    <% if content_for?(:page_description) %><meta name="description" content="<%= yield(:page_description) %>"/><% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <% if value.class == Array %>
        <div id="notificationMessage" class="<%= flash_class(key) %>" onClick="document.getElementById('notificationMessage').classList.remove('is-active')"><% value.each do |message| %><%= message %></br><% end %></div>
      <% else %>
        <div id="notificationMessage" class="<%= flash_class(key) %>" onClick="document.getElementById('notificationMessage').classList.remove('is-active')"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
